<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>입력한 텍스트 전문</h1>
        <p>{{sentence}}</p>
        <h2>당신이 입력한 텍스트는 {{count}}개의 단어로 구성되어 있습니다.</h2>
        <h2>이 문장은 다음의 단어로 구성되어 있습니다.</h2>
        {%for word, totalcount in wordDict %}
            {{word}}:{{totalcount}}<br>
        {%endfor%}
    </div>
</body>
</html>